{% extends 'l-bar.html' %}

{%  block content %}
<p class="typography-display-3">{{ action|upper }} CUSTOMER</p>
<div class="form_container">
    <form method="post" action="/web/customer/form{% if id %}/{{ id }}{% endif %}/">
        {%  csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="hidden" value="{{ action }}" name="action" id="action"/>
        <input type="submit"/>
    </form>
</div>
{#{%  if action == 'edit' %}#}
{#    <form method="post" action="/student/">#}
{#        {%  csrf_token %}#}
{#        <input type="hidden" value="delete" name="action" id="action"/>#}
{#        <input type="hidden" value="{{ id }}" name="id" id="id"/>#}
{#        <input type="submit" value="Delete"/>#}
{#    </form>#}
{#{% endif %}#}


{% endblock %}